.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
.tag-item {
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: white;
}
.tag-item.selected {
    background-color: #714B67; 
    color: white;
    border-color: #714B67;
}